*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
    background-image: linear-gradient(45deg,rgb(39, 19, 50),rgb(246, 188, 246));
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}
.calculator{
    background-color: rgb(50, 56, 62);
    padding:20px;
    border-radius:10px;
}
.calculator form button{
    
    border:0;
    margin:5px;
    width:60px;
    height:60px;
    border-radius:50%;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
    color:white;
    font-size: 25px;
}


#display{
    display:flex;
    justify-content: end;
    overflow-x: hidden;
    margin:10px;
}
form button.right{
    border-radius: 10px;
    text-align: left;
    font-size: 40px;
    box-shadow:none;
    width:280px;
}
#equal{
    width:5.6em;
    background-color: rgb(255, 113, 19);
}
button:active{
    transform: translate(2px,2px);
}